// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

///////////////////////////////////////////

///////// util classes /////////
.fullScreen {
	height: 100vh;
	width: 100vw;
}

///////// buttons /////////
.bigRedButton {
	background-color: red;
	color: white;
	border: none;
	border-radius: 50px;
	padding: 0.5rem 3rem;
	font-size: 1.5rem;
	border: 1px solid #ff0000;
	cursor: pointer;
	&:hover {
		background-color: #ffffff;
		color: #ff0000;
		border: 1px solid #ff0000;
		transition: all 0.2s ease;
	}
}

.smallRedButton {
	background-color: red;
	color: white;
	border: none;
	border-radius: 50px;
	padding: 0.3rem 1.5rem;
	border: 1px solid #ff0000;
	font-size: 0.75rem;
	cursor: pointer;
	transition: all 0.2s ease;
	&:hover {
		background-color: #ffffff;
		color: #ff0000;
		border: 1px solid #ff0000;
		transition: all 0.2s ease;
	}
}

.bigWhiteButton {
	background-color: white;
	color: black;
	border: 1px solid #000;
	border-radius: 50px;
	padding: 0.5rem 3rem;
	font-size: 1.5rem;
	cursor: pointer;
	&:hover {
		background-color: #000000;
		color: #ffffff;
		border: 1px solid #ffffff;
		transition: all 0.2s ease;
	}
}

.smallWhiteButton {
	background-color: white;
	color: black;
	border: 1px solid #000;
	border-radius: 50px;
	padding: 0.3rem 1.5rem;
	font-size: 0.75rem;
	cursor: pointer;
	&:hover {
		background-color: #000000;
		color: #ffffff;
		border: 1px solid #ffffff;
		transition: all 0.2s ease;
	}
}

///////// scrollbars /////////
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}
