.recipeImg {
	aspect-ratio: 1/1;
	object-fit: cover;
}

.badgeWhite {
	background-color: rgb(252, 252, 252);
	color: rgb(10, 10, 10);
	border: 1px solid rgb(10, 10, 10);
	border-radius: 50px;
	padding: 5px 10px;
}

.ingredients {
	font-size: 16px;
	color: rgb(135, 135, 135);
}

.recipeDetailsImg {
	aspect-ratio: 3/1;
	width: 100%;
	object-fit: cover;
	&:hover {
		opacity: 0.95;
		transform: scale(1.02);
		transition: all 0.2s ease;
	}
}
@media screen and (max-width: 768px) {
	.recipeDetailsImg {
		aspect-ratio: 16/9;
	}
}

li {
	list-style-type: none;
}

.userIcon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
